{% extends 'properties/base.html' %}
{% block title %}Search Results{% endblock %}


{% block content %}
<div class="container mt-4">
    <h1 class=" text-center mb-4">Search Results for "{{ query }}"</h1>
    {% if properties %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Auction ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">City</th>
                    <th scope="col">Reserve Price</th>
                    <th scope="col">Auction Date</th>
                    <th scope="col">EMD</th>
                    <th scope="col">View Details</th>
                </tr>
            </thead>
            <tbody>
                {% for property in properties %}
                <tr>
                    <td>{{ property.Auction_id }}</td>
                    <td>{{ property.Title }}</td>
                    <td>{{ property.City }}</td>
                    <td>Rs. {{ property.Reserve_price }}</td>
                    <td>{{ property.Auction_start_date|date:"d-m-Y, h:i A" }}</td>
                    <td>Rs. {{ property.EMD_amount }}</td>
                    <td>
                        <a href="{{ property.get_absolute_url }}" class="btn btn-info btn-sm" style="border-radius: 5px;">View more</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        No properties found matching your search.
    </div>
    {% endif %}
    <div class="text-center mt-0 p-3">
        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
        {% if user.is_staff or user.is_superuser %}
        <a href="{% url 'download_search_results' %}?query={{ query }}" class="btn btn-success">Download Excel</a>
        {% endif %}
    </div>
</div>
{% endblock %}
